@import url("FuturaPT-Medium/style.css");
@import "style_header_footer.css";

body {
		margin: 0; 
		font-family: 'Futura PT', sans-serif;;
		font-size: 16px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-text-size-adjust: none;
	}

	ul.breadcrumb {
		margin: 0 11%;
		padding: 10px 16px;
		list-style: none;
		border-bottom: solid 1px #E5E5E5;
	}

	ul.breadcrumb li {
		display: inline;
		font-size: 18px;
	}

	ul.breadcrumb li+li:before {
		padding: 8px;
		color: black;
		content: "/\00a0";
	}

	ul.breadcrumb li a {
		color: #0275d8;
		text-decoration: none;
	}

	ul.breadcrumb li a:hover {
		color: #01447e;
		text-decoration: underline;
	}

	main.main_contact {
		margin: 0 11%;
	}

	.main_contact > h1:first-of-type {
		font-size: 48px;
		margin-top: 10px;
		margin-bottom: 50px;
	}

	main.main_contact .main_contact_container {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 20px 2.75fr;
		grid-template-columns: 1fr 2.75fr;
		-ms-grid-rows: auto;
		grid-template-rows: auto;
		grid-gap: 0 20px;
	}

	.main_contact_container .contact_info {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1 / 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1 / 2;
	}

	.main_contact_container .contact_map {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1 / 2;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
	}

	.main_contact_container .contact_info .contact_info_numbers .phone a {
		text-decoration: none;
		color: black;
	}

	.main_contact_container .contact_info .contact_info_numbers,
	.main_contact_container .contact_info .contact_info_time,
	.main_contact_container .contact_info .contact_info_adress,
	.main_contact_container .contact_info .contact_info_email {
		font-size: 26px;
		line-height: 34px;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.main_contact_container .contact_info .contact_info_numbers span,
	.main_contact_container .contact_info .contact_info_time span {
		font-weight: bold;
	}

	.main_contact_container .contact_info .contact_info_numbers {
		padding-left: 85px;
		background: url('../images/Main/Tel_num.svg') no-repeat left center;
		background-size: 12%;
	}
	
	.main_contact_container .contact_info .contact_info_time {
		padding-left: 85px;
		background: url('../images/Main/Time.svg') no-repeat left center;
		background-size: 12%;
	}
	
	.main_contact_container .contact_info .contact_info_adress {
		padding-left: 85px;
		background: url('../images/Main/Adress.svg') no-repeat left center;
		background-size: 12%;
	}

	.main_contact_container .contact_info .contact_info_email {
		padding-left: 85px;
		background: url('../images/Main/Email.svg') no-repeat left center;
		background-size: 12%;
	}

	.main_contact_container .contact_info .contact_info_email a {
		text-decoration: none;
	}

	.main_contact_container .contact_info .social_networks {
		margin-top: 30px;
		text-align: center;
	}

	.main_contact_container .contact_info .social_networks img {
		width: 40px;
		height: 30px;
		margin-right: 20px;
	}

	main.main_contact .employees_contacts {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
		grid-template-columns: repeat(4, 1fr);
		-ms-grid-rows: auto 0 auto 0 auto 0 auto 0 auto 0 auto;
		grid-template-rows: repeat(6, auto);
		grid-gap: 0 10px;
		margin-bottom: 100px;
		overflow: hidden;
	}

	.employees_contacts .employees_contacts_header_1 {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1 / 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 4;
		grid-column: 1 / 5;
		margin-top: 12px;
		margin-bottom: 12px;
		font-weight: normal;
	}

	.employees_contacts .employee_1,
	.employees_contacts .employee_2,
	.employees_contacts .employee_3,
	.employees_contacts .employee_4,
	.employees_contacts .employee_5,
	.employees_contacts .employee_6,
	.employees_contacts .employee_7,
	.employees_contacts .employee_8,
	.employees_contacts .employee_9,
	.employees_contacts .employee_10 {
		-webkit-transform: translateY(1000px);
		    -ms-transform: translateY(1000px);
		        transform: translateY(1000px);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		overflow: hidden;
	}

	.employees_contacts .employee_1 {
		-webkit-transition: all 0.8s ease 0s;
		-o-transition: all 0.8s ease 0s;
		transition: all 0.8s ease 0s;
	}

	.employees_contacts .employee_2 {
		-webkit-transition: all 0.8s ease 0.2s;
		-o-transition: all 0.8s ease 0.2s;
		transition: all 0.8s ease 0.2s;
	}

	.employees_contacts .employee_3 {
		-webkit-transition: all 0.8s ease 0.4s;
		-o-transition: all 0.8s ease 0.4s;
		transition: all 0.8s ease 0.4s;
	}

	.employees_contacts .employee_4 {
		-webkit-transition: all 0.8s ease 0.6s;
		-o-transition: all 0.8s ease 0.6s;
		transition: all 0.8s ease 0.6s;
	}

	.employees_contacts .employee_5 {
		-webkit-transition: all 0.8s ease 0.8s;
		-o-transition: all 0.8s ease 0.8s;
		transition: all 0.8s ease 0.8s;
	}

	.employees_contacts .employee_6 {
		-webkit-transition: all 0.8s ease 1.0s;
		-o-transition: all 0.8s ease 1.0s;
		transition: all 0.8s ease 1.0s;
	}

	.employees_contacts .employee_7 {
		-webkit-transition: all 0.8s ease 1.2s;
		-o-transition: all 0.8s ease 1.2s;
		transition: all 0.8s ease 1.2s;
	}

	.employees_contacts .employee_8 {
		-webkit-transition: all 0.8s ease 1.4s;
		-o-transition: all 0.8s ease 1.4s;
		transition: all 0.8s ease 1.4s;
	}

	.employees_contacts .employee_9 {
		-webkit-transition: all 0.8s ease 1.6s;
		-o-transition: all 0.8s ease 1.6s;
		transition: all 0.8s ease 1.6s;
	}

	.employees_contacts .employee_10 {
		-webkit-transition: all 0.8s ease 1.8s;
		-o-transition: all 0.8s ease 1.8s;
		transition: all 0.8s ease 1.8s;
	}

	.employees_contacts._active > div {
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
	}

	.employees_contacts .employee_1 {
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		grid-row: 2 / 3;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1 / 2;
	}

	.employees_contacts .employee_2 {
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		grid-row: 2 / 3;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
	}

	.employees_contacts .employees_contacts_header_2 {
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
		grid-row: 3 / 4;
		-ms-grid-column: 1;
		-ms-grid-column-span: 4;
		grid-column: 1 / 5;
	}

	.employees_contacts .employees_contacts_header_2,
	.employees_contacts .employees_contacts_header_3,
	.employees_contacts .employees_contacts_header_4,
	.employees_contacts .employees_contacts_header_5,
	.employees_contacts .employees_contacts_header_6 {
		margin-top: 50px;
		margin-bottom: 12px;
		font-weight: normal;
	}

	.employees_contacts .employee_3 {
		-ms-grid-row: 4;
		-ms-grid-row-span: 1;
		grid-row: 4 / 5;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1 / 2;
	}

	.employees_contacts .employee_4 {
		-ms-grid-row: 4;
		-ms-grid-row-span: 1;
		grid-row: 4 / 5;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
	}

	.employees_contacts .employee_5 {
		-ms-grid-row: 4;
		-ms-grid-row-span: 1;
		grid-row: 4 / 5;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
		grid-column: 3 / 4;
	}

	.employees_contacts .employee_6 {
		-ms-grid-row: 4;
		-ms-grid-row-span: 1;
		grid-row: 4 / 5;
		-ms-grid-column: 4;
		-ms-grid-column-span: 1;
		grid-column: 4 / 5;
	}

	.employees_contacts .employees_contacts_header_3 {
		-ms-grid-row: 5;
		-ms-grid-row-span: 1;
		grid-row: 5 / 6;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1 / 2;
	}

	.employees_contacts .employees_contacts_header_4 {
		-ms-grid-row: 5;
		-ms-grid-row-span: 1;
		grid-row: 5 / 6;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
	}

	.employees_contacts .employees_contacts_header_5 {
		-ms-grid-row: 5;
		-ms-grid-row-span: 1;
		grid-row: 5 / 6;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
		grid-column: 3 / 4;
	}

	.employees_contacts .employees_contacts_header_6 {
		-ms-grid-row: 5;
		-ms-grid-row-span: 1;
		grid-row: 5 / 6;
		-ms-grid-column: 4;
		-ms-grid-column-span: 1;
		grid-column: 4 / 5;
	}

	.employees_contacts .employee_7 {
		-ms-grid-row: 6;
		-ms-grid-row-span: 1;
		grid-row: 6 / 7;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1 / 2;
	}

	.employees_contacts .employee_8 {
		-ms-grid-row: 6;
		-ms-grid-row-span: 1;
		grid-row: 6 / 7;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
	}

	.employees_contacts .employee_9 {
		-ms-grid-row: 6;
		-ms-grid-row-span: 1;
		grid-row: 6 / 7;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
		grid-column: 3 / 4;
	}

	.employees_contacts .employee_10 {
		-ms-grid-row: 6;
		-ms-grid-row-span: 1;
		grid-row: 6 / 7;
		-ms-grid-column: 4;
		-ms-grid-column-span: 1;
		grid-column: 4 / 5;
	}

	.main_contact > h1:last-of-type {
		font-size: 48px;
		margin-top: 100px;
		margin-bottom: 0;
	}

	main.main_contact .employees_contacts > h2 {
		font-size: 32px;
		color: #C83642;
	}

	.main_contact .employees_contacts .employee_1 svg,
	.main_contact .employees_contacts .employee_2 svg,
	.main_contact .employees_contacts .employee_3 svg,
	.main_contact .employees_contacts .employee_4 svg,
	.main_contact .employees_contacts .employee_5 svg,
	.main_contact .employees_contacts .employee_6 svg,
	.main_contact .employees_contacts .employee_7 svg,
	.main_contact .employees_contacts .employee_8 svg,
	.main_contact .employees_contacts .employee_9 svg,
	.main_contact .employees_contacts .employee_10 svg {
		float: left;
	} 

	.employees_contacts .employee_1 h2,
	.employees_contacts .employee_2 h2,
	.employees_contacts .employee_3 h2,
	.employees_contacts .employee_4 h2,
	.employees_contacts .employee_5 h2,
	.employees_contacts .employee_6 h2,
	.employees_contacts .employee_7 h2,
	.employees_contacts .employee_8 h2,
	.employees_contacts .employee_9 h2,
	.employees_contacts .employee_10 h2 {
		padding-top: 34px;
		margin: 0;
		padding-left: 43px;
		font-size: 28px;
		text-transform: uppercase;
	}

	.employees_contacts .employee_1 p:first-of-type,
	.employees_contacts .employee_2 p:first-of-type,
	.employees_contacts .employee_3 p:first-of-type,
	.employees_contacts .employee_4 p:first-of-type,
	.employees_contacts .employee_5 p:first-of-type,
	.employees_contacts .employee_6 p:first-of-type,
	.employees_contacts .employee_7 p:first-of-type,
	.employees_contacts .employee_8 p:first-of-type,
	.employees_contacts .employee_9 p:first-of-type,
	.employees_contacts .employee_10 p:first-of-type {
		margin: 0;
		padding-left: 43px;
		font-size: 20px;
		text-transform: uppercase;
	}

	.employees_contacts .employee_1 p:nth-of-type(2),
	.employees_contacts .employee_2 p:nth-of-type(2),
	.employees_contacts .employee_3 p:nth-of-type(2),
	.employees_contacts .employee_4 p:nth-of-type(2),
	.employees_contacts .employee_5 p:nth-of-type(2),
	.employees_contacts .employee_6 p:nth-of-type(2),
	.employees_contacts .employee_7 p:nth-of-type(2),
	.employees_contacts .employee_8 p:nth-of-type(2),
	.employees_contacts .employee_9 p:nth-of-type(2),
	.employees_contacts .employee_10 p:nth-of-type(2) {
		margin: 20px 0;
		padding-left: 43px;
		font-size: 20px;
		color: #C83642;
	}

	.employees_contacts .employee_3 p:last-of-type,
	.employees_contacts .employee_4 p:last-of-type,
	.employees_contacts .employee_5 p:last-of-type,
	.employees_contacts .employee_6 p:last-of-type,
	.employees_contacts .employee_7 p:last-of-type,
	.employees_contacts .employee_8 p:last-of-type,
	.employees_contacts .employee_9 p:last-of-type,
	.employees_contacts .employee_10 p:last-of-type {
		margin: 0;
		padding-left: 43px;
		font-size: 20px;
	}

	.employees_contacts a {
		text-decoration: none;
		color: black;
	}

	@media only all and (max-width: 1440px) {
		ul.breadcrumb {
			margin: 0 20px;
		}	

		main.main_contact {
			margin: 0 20px;
		}
	}

	@media only all and (max-width: 1024px) {
		.main_contact > h1:first-of-type {
			font-size: 34px;
			margin-bottom: 35px;
		}

		.main_contact_container .contact_info .contact_info_numbers,
		.main_contact_container .contact_info .contact_info_time,
		.main_contact_container .contact_info .contact_info_adress,
		.main_contact_container .contact_info .contact_info_email {
			font-size: 16px;
			line-height: 21px;
			padding-left: 50px;
		}

		.main_contact_container .contact_info .social_networks img {
			width: 25px;
			height: 20px;
		}

		main.main_contact .employees_contacts {
			margin-bottom: 50px;
		}

		.main_contact > h1:last-of-type {
			font-size: 34px;
			margin-top: 50px;
		}

		.employees_contacts .employees_contacts_header_2,
		.employees_contacts .employees_contacts_header_3,
		.employees_contacts .employees_contacts_header_4,
		.employees_contacts .employees_contacts_header_5,
		.employees_contacts .employees_contacts_header_6 {
			margin-top: 25px;
		}

		main.main_contact .employees_contacts > h2 {
			font-size: 22px;
		}

		.employees_contacts .employee_1 h2,
		.employees_contacts .employee_2 h2,
		.employees_contacts .employee_3 h2,
		.employees_contacts .employee_4 h2,
		.employees_contacts .employee_5 h2,
		.employees_contacts .employee_6 h2,
		.employees_contacts .employee_7 h2,
		.employees_contacts .employee_8 h2,
		.employees_contacts .employee_9 h2,
		.employees_contacts .employee_10 h2 {
			padding-top: 20px;
			padding-left: 25px;
			font-size: 20px;
		}

		.employees_contacts .employee_1 p:first-of-type,
		.employees_contacts .employee_2 p:first-of-type,
		.employees_contacts .employee_3 p:first-of-type,
		.employees_contacts .employee_4 p:first-of-type,
		.employees_contacts .employee_5 p:first-of-type,
		.employees_contacts .employee_6 p:first-of-type,
		.employees_contacts .employee_7 p:first-of-type,
		.employees_contacts .employee_8 p:first-of-type,
		.employees_contacts .employee_9 p:first-of-type,
		.employees_contacts .employee_10 p:first-of-type {
			padding-left: 25px;
			font-size: 16px;
		}

		.employees_contacts .employee_1 p:nth-of-type(2),
		.employees_contacts .employee_2 p:nth-of-type(2),
		.employees_contacts .employee_3 p:nth-of-type(2),
		.employees_contacts .employee_4 p:nth-of-type(2),
		.employees_contacts .employee_5 p:nth-of-type(2),
		.employees_contacts .employee_6 p:nth-of-type(2),
		.employees_contacts .employee_7 p:nth-of-type(2),
		.employees_contacts .employee_8 p:nth-of-type(2),
		.employees_contacts .employee_9 p:nth-of-type(2),
		.employees_contacts .employee_10 p:nth-of-type(2) {
			padding-left: 25px;
			font-size: 16px;
		}

		.employees_contacts .employee_3 p:last-of-type,
		.employees_contacts .employee_4 p:last-of-type,
		.employees_contacts .employee_5 p:last-of-type,
		.employees_contacts .employee_6 p:last-of-type,
		.employees_contacts .employee_7 p:last-of-type,
		.employees_contacts .employee_8 p:last-of-type,
		.employees_contacts .employee_9 p:last-of-type,
		.employees_contacts .employee_10 p:last-of-type {
			padding-left: 25px;
			font-size: 14px;
		}
	}

	@media only all and (max-width: 640px) {
		main.main_contact .main_contact_container {
			-ms-grid-columns: 1fr;
			grid-template-columns: 1fr;
			-ms-grid-rows: auto 0 auto;
			grid-template-rows: auto auto;
			grid-gap: 0 0;
		}
	
		.main_contact_container .contact_map {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			grid-row: 2 / 3;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
			grid-column: 1 / 2;
		}

		.main_contact_container .contact_info .contact_info_numbers,
		.main_contact_container .contact_info .contact_info_time,
		.main_contact_container .contact_info .contact_info_adress,
		.main_contact_container .contact_info .contact_info_email {
			padding-left: 60px;
			background-size: auto;
		}

		.main_contact_container .contact_info .social_networks {
			text-align: left;
			padding-left: 60px;
		}

		main.main_contact .employees_contacts {
			-ms-grid-columns: 1fr 5px 1fr;
			grid-template-columns: repeat(2, 1fr);
			-ms-grid-rows: auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto;
			grid-template-rows: repeat(9, auto);
			grid-gap: 5px;
		}

		.employees_contacts .employees_contacts_header_1 {
			-ms-grid-column: 1;
			-ms-grid-column-span: 2;
			grid-column: 1 / 3;
		}

		.employees_contacts .employees_contacts_header_2 {
			-ms-grid-column: 1;
			-ms-grid-column-span: 2;
			grid-column: 1 / 3;
		}

		.employees_contacts .employee_5 {
			-ms-grid-row: 5;
			-ms-grid-row-span: 1;
			grid-row: 5 / 6;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
			grid-column: 1 / 2;
			margin-top: 25px;
		}
	
		.employees_contacts .employee_6 {
			-ms-grid-row: 5;
			-ms-grid-row-span: 1;
			grid-row: 5 / 6;
			-ms-grid-column: 2;
			-ms-grid-column-span: 1;
			grid-column: 2 / 3;
			margin-top: 25px;
		}

		.employees_contacts .employees_contacts_header_3 {
			-ms-grid-row: 6;
			-ms-grid-row-span: 1;
			grid-row: 6 / 7;
		}
	
		.employees_contacts .employees_contacts_header_4 {
			-ms-grid-row: 6;
			-ms-grid-row-span: 1;
			grid-row: 6 / 7;
		}

		.employees_contacts .employee_7 {
			-ms-grid-row: 7;
			-ms-grid-row-span: 1;
			grid-row: 7 / 8;
		}
	
		.employees_contacts .employee_8 {
			-ms-grid-row: 7;
			-ms-grid-row-span: 1;
			grid-row: 7 / 8;
		}

		.employees_contacts .employees_contacts_header_5 {
			-ms-grid-row: 8;
			-ms-grid-row-span: 1;
			grid-row: 8 / 9;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
			grid-column: 1 / 2;
		}

		.employees_contacts .employees_contacts_header_6 {
			-ms-grid-row: 8;
			-ms-grid-row-span: 1;
			grid-row: 8 / 9;
			-ms-grid-column: 2;
			-ms-grid-column-span: 1;
			grid-column: 2 / 3;
		}

		.employees_contacts .employee_9 {
			-ms-grid-row: 9;
			-ms-grid-row-span: 1;
			grid-row: 9 / 10;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
			grid-column: 1 / 2;
		}
	
		.employees_contacts .employee_10 {
			-ms-grid-row: 9;
			-ms-grid-row-span: 1;
			grid-row: 9 / 10;
			-ms-grid-column: 2;
			-ms-grid-column-span: 1;
			grid-column: 2 / 3;
		}

		.employees_contacts .employee_1 h2,
		.employees_contacts .employee_2 h2,
		.employees_contacts .employee_3 h2,
		.employees_contacts .employee_4 h2,
		.employees_contacts .employee_5 h2,
		.employees_contacts .employee_6 h2,
		.employees_contacts .employee_7 h2,
		.employees_contacts .employee_8 h2,
		.employees_contacts .employee_9 h2,
		.employees_contacts .employee_10 h2 {
			font-size: 18px;
		}
	}